@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/blanka');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-clr: #f0e264;
	--primary-clr-300: #86790d;
	--secondary-clr: #0d0b0b;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: Poppins, sans-serif;
	background: var(--secondary-clr);
	color: white;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}

ul {
	list-style: none;
}

a {
	color: white;
	text-decoration: none;
}

*:focus {
	outline: 2px solid var(--primary-clr);
}


button {
	border: none;
	outline: none;
}
